{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}
{% block header %}
  <h1 class="logo">InstaKilogram</h1>
{% endblock header %}
{% block maincontent %}
{% include 'navbar.html' %}
<div class="profile">
  <img src="{{ profile.profile_img_url }}" alt="프로필사진"/>
  <h3 class="profile-username">@{{ profile.user.username }}</h3>
  <ul class="profile-counters reset-list">
    <li class="post-count">게시물 <span>{{ profile.postings.all | length }}</span></li>
    <li class="followers-count">팔로워 <span>{{ profile.relationship.followers.all | length }}</span></li>
    <li class="following-count">팔로우 <span>{{ profile.target_relationship.all | length }}</span></li>
  </ul>
  <h3 class="profile-name">{{ profile.name }}</h3>
  <span class="profile-introduction"><form class="profile-edit-form" action="{% url 'user:edit' profile.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="introduction" value="{{ profile.introduction }}" />
    <button type="submit">변경</button>
  </form></span>
</div>
<div class="photo-list">
  {% for posting in profile.postings.all %}
  {% if posting.is_deleted %}
  {% else %}
  <a href="{% url 'posting:detail' posting.pk %}"><img src="{{ posting.photo.url }}" alt="사진" /></a>
  {% endif %}
  {% endfor %}
</div>
{% endblock maincontent %}