{% extends 'base.html' %}
{% block head %}
{% endblock head %}
{% block maincontent %}
<h2>나는 프로필 메인영역의 헤딩2레벨이다</h2>
{% include 'navbar.html' %}
<!-- 프로필 사진 -->
<img src="{{ profile.profile_img.url }}" alt="프로필사진"/>
<h3>@{{ profile.user.username }}</h3>
<ul class="profile_counters">
  <li>{{ profile.posts.all | length }}</li>
  <!-- relationship 모델 추가하거나 아예 get_context_data로 오버라이딩하기 -->
  <li>{{ profile.relationship.followers.all | length }}</li>
  <li>{{ profile.target_relationship.all | length }}</li>
</ul>
<h3>{{ profile.name }}</h3>
<p>{{ profile.introduction }}</p>
{% if user == profile.user %}
<a href="{% url 'user:edit' profile.pk %}">프로필 편집</a>
{% else %}
<form action="{% url 'social:follow' profile.pk %}" method="POST">
  {% csrf_token %}
  {% if user.profile in profile.relationship.followers.all %}
  <button type="submit">팔로우 취소</button>
  {% else %}
  <button type="submit">팔로우</button>
  {% endif %}
</form>
{% endif %}
<hr/>
<div class="photo_list">
  {% for posting in profile.postings.all %}
  <img src="{{ posting.photo.url }}" alt="사진" width="100px">
  {% endfor %}
</div>
{% endblock maincontent %}