{% extends 'base.html' %}
{% block head %}
{% endblock head %}
{% block maincontent %}
<h2>나는 프로필 에딧영역의 헤딩2레벨이다</h2>
<!-- 프로필 사진 -->
<img src="{{ profile.profile_img.url }}" alt="프로필사진"/>
<h3>{{ profile.name }}</h3>
<p>{{ profile.introduction }}</p>
<ul class="profile_counters">
  <li>{{ profile.posts.all | length }}</li>
  <!-- relationship 모델 추가하거나 아예 get_context_data로 오버라이딩하기 -->
  <li>{{ profile.relationship.followers | length }}</li>
  <li>{{ profile.relationship.followings | length }}</li>
</ul>
{% if user == profile.user %}
<a href="{% url 'user:edit' profile.pk %}">프로필 편집</a>
{% endif %}

<!-- 계정 아이디, 게시물 수, 팔로잉 팔로워 수, 유저 닉네임, 유저 소개글 -->
<!-- 내 페이지인 경우 프로필 편집 버튼 -->
<!-- 게시물 article로 -->
{% endblock maincontent %}