{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instakilogram</title>
  {% block head %}
  {% endblock head %}
</head>
<body>
  <div class="container">
    <header class="header">
      <h1>나는 헤더영역의 헤딩1레벨이다</h1>
    </header>
    <nav class="navbar">
      <ul class="reset-list">
        <li><a href="{% url 'index' %}">홈화면</a></li>
        <li><a href="{% url 'index' %}">검색</a></li>
        <li><a href="{% url 'index' %}">추가</a></li>
        <li><a href="{% url 'index' %}">알림</a></li>
        <li><a href="{% url 'user:detail' user.profile.pk %}">마이페이지</a></li>
      </ul>
    </nav>
    <main class="main">
      {% block maincontent %}
      
      {% endblock maincontent %}
    </main>
  </div>
</body>
</html>