<div class="comments">
  {% if posting.comments.all %}
  <h4>나는 댓글이다</h4>
  <ul class="comments-list reset-list">
    {% for comment in posting.comments.all %}
    <li class="comment">
      <a href="{% url 'user:detail' comment.writer.pk %}">{{ comment.writer.user.username }}</a>
      <span>: {{ comment.content }}</span>
      {% if comment.like_users.all %}
      <p>{{ comment.like_users.all | length }}명이 좋아합니다.</p>
      {% endif %}
      <form method="POST" action="{% url 'posting:comment-like' comment.pk %}">
        {% csrf_token %}
        {% if user.profile in comment.like_users.all %}
        <button type="submit" name="like" value="unlike">좋아요 취소</button>
        {% else %}
        <button type="submit" name="like" value="like">좋아요</button>
        {% endif %}
      </form>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>