{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
{% endblock head %}
{% block maincontent %}
{% if user.is_authenticated %}
<h2>나는 로그인 된 상태의 인덱스페이지이다</h2>
<h3> {{ now }} </h3>
{% include 'navbar.html' %}
<hr>
{% for posting in postings_list.all %}
  <article class="posting">
    <h3>나는 {{ posting.author.name }}이 작성한 {{ posting.pk }}번 게시물이다</h3>
    <div class="author-profile">
      <img class="profile-img" src="{{ posting.author.profile_img.url }}" alt="글쓴이 프로필사진"/>
      <a href="{% url 'user:detail' posting.author.pk %}"><span>{{ author.user.username }}</span></a>
    </div>
    <figure>
      <a class="posting-img" href="{% url 'posting:detail' posting.pk %}" title="게시물로 이동"><img src="{{ posting.photo.url }}" alt="업로드된 사진" /></a>
      <figcaption><a class="auther-username" href="{% url 'user:detail' posting.author.pk %}">{{ posting.author.user.username }}</a> {{ posting.content }}</figcaption>
    </figure>
    {% include 'like.html' %}
    {% include 'comment.html' %}
  </article>
{% endfor %}
{% else %}
<h2>나는 로그인 안된 상태의 인덱스페이지이다</h2>
<p>랄랄라라라라</p>
<img src="https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png" alt="메인페이지"/>
{% include 'login-form.html' %}
{% endif %}
{% endblock maincontent %}