{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
{% endblock head %}
{% block header %}
  <h1 class="logo">InstaKilogram</h1>
{% endblock header %}
{% block maincontent %}
{% if user.is_authenticated %}
{% include 'navbar.html' %}
{% for posting in postings_list.all %}
  <article class="posting">
    <div class="author-profile">
      <img class="profile-img" src="{{ posting.author.profile_img.url }}" alt="{{ posting.author.user.username }}님의 프로필사진"/>
      <a href="{% url 'user:detail' posting.author.pk %}"><span>{{ posting.author.user.username }}</span></a>
    </div>
    <div class="posting-detail">
      <a class="posting-img" href="{% url 'posting:detail' posting.pk %}" title="게시물로 이동"><img src="{{ posting.photo.url }}" alt="업로드된 사진" /></a>
      {% include 'like.html' %}
      <a class="author-username" href="{% url 'user:detail' posting.author.pk %}">{{ posting.author.user.username }}</a> {{ posting.content }}
      {% include 'comment.html' %}
    </div>
  </article>
{% endfor %}
{% else %}
<h2>나는 로그인 안된 상태의 인덱스페이지이다</h2>
<p>랄랄라라라라</p>
<img src="https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png" alt="메인페이지"/>
{% include 'login-form.html' %}
{% endif %}

{% endblock maincontent %}