{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
{% endblock head %}
{% block maincontent %}
{% if user.is_authenticated %}
<h2>나는 로그인 된 상태의 인덱스페이지이다</h2>
<h3> {{ now }} </h3>
{% include 'navbar.html' %}
<hr>
{% for posting in postings_list.all %}
  <article class="posting">
    <h3>나는 {{ posting.author.name }}이 작성한 {{ posting.pk }}번 아티클의 헤딩3이다</h3>
    <h4>{{ posting.created_at }}</h4>
    <a href="{% url 'posting:detail' posting.pk %}" title="게시물로 이동"><img src="{{ posting.photo.url }}" alt="업로드된 사진" /></a>
    <p><span class="username">{{ posting.author.user.username }}</span> {{ posting.content }}</p>
  </article>
{% endfor %}
{% else %}
<h2>나는 로그인 안된 상태의 인덱스페이지이다</h2>
<p>랄랄라라라라</p>
<a href="{% url 'user:signup' %}" title="회원가입 창으로 이동">회원가입</a>
{% endif %}
{% endblock maincontent %}