{% extends 'base.html' %}
<!-- 나중에 팝업창으로 뜨게끔 하자. -->
{% load static %}
{% block head %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/detail.css' %}">
{% endblock head %}
{% block maincontent %}
<h2>나는 포스팅 디테일 페이지입니다.</h2>
{% include 'navbar.html' %}
<article class="detail">
  <img src="{{ posting.photo.url }}" alt="{{ posting.author.name }}이 올린 게시물 사진" />
  <section class="detail-desc">
    <h3><a class="author-profile" href="{% url 'user:detail' posting.author.pk %}">{{ posting.author.user.username }}</a></h3>
    {% if user == posting.author.user %}
    <a href="{% url 'posting:edit' posting.pk %}">수정하기</a>
    <form method="POST" action="{% url 'posting:delete' posting.pk %}">
      {% csrf_token %}
      <button type="submit">삭제하기</button>
    </form>
    {% endif %}
    <p><a class="author-profile" href="{% url 'user:detail' posting.author.pk %}">{{ posting.author.user.username }}</a>: {{ posting.content }}</p>
    <p>{{ since_created }}</p>
  </section>
  {% for comment in posting.comments.all %}
  <p><a class="author-profile" href="{% url 'user:detail' comment.writer.pk %}">{{ comment.writer.user.username }}</a>: {{ comment.content }}</p>
  {% endfor %}
  <form method="POST" action="{% url 'posting:comment' posting.pk %}">
    {% csrf_token %}
    <input type="text" name="content" placeholder="댓글 달기" title="댓글 달기"/>
    <button type="submit">등록</button>
  </form>
</article>
{% endblock maincontent %}
