{% extends 'base.html' %}
<!-- 나중에 팝업창으로 뜨게끔 하자. -->
{% load static %}
{% block head %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/detail.css' %}">
{% endblock head %}
{% block header %}
  <h1 class="logo">InstaKilogram</h1>
{% endblock header %}
{% block maincontent %}
{% include 'navbar.html' %}
<article class="detail">
  <img src="{{ posting.img_url }}" alt="{{ posting.author.name }}이 올린 게시물 사진" />
  <section class="detail-desc">
    <h3> <img src="{{ posting.author.profile_img_url }}" alt="프로필 사진"><a class="author-profile" href="{% url 'user:detail' posting.author.pk %}">{{ posting.author.user.username }}</a></h3>
    {% if user == posting.author.user %}
    <a href="{% url 'posting:edit' posting.pk %}">수정하기</a>
    <form method="POST" action="{% url 'posting:delete' posting.pk %}">
      {% csrf_token %}
      <button type="submit">삭제하기</button>
    </form>
    {% endif %}
    <p><a class="author-profile" href="{% url 'user:detail' posting.author.pk %}">{{ posting.author.user.username }}</a> {{ posting.content }}</p>
    <p>{{ since_created }}</p>
  </section>
  {% include 'like.html' %}
  {% include 'comment.html' %}
  {% include 'comment_form.html' %}
</article>
{% endblock maincontent %}
