.detail {
  background-color: #fff;
  min-width: 30vw;
  max-width: 80vw;
  margin: 0 auto;
  border: 1px solid #bbb;
  border-radius: 0.5%;
  display: grid;
  grid-template-rows: 30vh 5vh 35vh 10vh;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-template-areas:
    "img description"
    "img like_form"
    "img comments"
    "img comment_form";
  & > img {
    grid-area: img;
    width: 40vw;
  }
  & .detail-desc {
    grid-area: description;
    & img {
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
    }
    & > form {
      display: inline-block;
    }
  }
  & .like-form {
    grid-area: like_form;
  }
  & .comments {
    grid-area: comments;
    & li >  {
      background-color: yellow;
    }
  }
  & .comment-form {
    grid-area: comment_form;
  }
}