.main {
  background-color: #fff;
  min-width: 30vw;
  max-width: 80vw;
  margin: 0 auto;

}
.profile{
  border-bottom: 1px solid #bbb;
  display: grid;
  grid-template-rows: repeat(4, 8vw);
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  align-items: center;
  grid-template-areas:
    "img img username username follow-btn"
    "img img counters counters counters"
    "img img name name ."
    "img img introduction introduction .";
  & img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    grid-area: img;    
    justify-self: center;
    align-self: center;
  }
  & .profile-username {
    grid-area: username;
    vertical-align: bottom;
  }
  & .profile-counters {
    grid-area: counters;
    display: flex;
    justify-content: space-evenly;
    & span {
      font-weight: 550;
    }
  }
  & .profile-name {
    grid-area: name;
  }
  & .profile-introduction {
    grid-area: introduction;
    & > input {
      width: 30vw;
    }
  }
}
.photo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  & img {
    margin: 5%;
    width: 90%;
    height: 90%;
  }

}