.posting {  
  & h3 {
    color: red;
  }
  .author-profile {
    background-color: yellow;
    & .profile-img {
      display: inline-block;
      width: 100px;
      height: 100px;
    }
  }
  & .posting-img {
    max-width: 80vw;
    min-width: 300px;
  }  
}

